@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

@import "variables.css";
@import "modal.css";

/* ############## GLOBAL STYLING ############## */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: auto;
    text-align: center;
    width: 75vw;
}

.btn {
    border: 1px solid var(--primary);
    border-radius: 1rem;
    outline: none;
    padding: 1rem 2rem;
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    margin: 2rem 0;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: .4rem;
    transition: background-color .3s, transform .3s;
}

.btn:hover {
    background-color: var(--primary);
    transform: scale(1.1);
    color: whitesmoke;
}

/* ############## HEADER STYLING ############## */

header {
    background: #000 url("../assets/images/img_01.jpg") center center/cover no-repeat;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header h1 {
    margin: 0;
    font-size: 4rem;
    text-shadow: 5px 5px 1px #000;
    background-color: rgba(50, 0, 0, .33);
    padding: 3rem;
    border: 1px solid var(--primary);
    color: whitesmoke;
}

/* ############## SECTION STYLING ############## */

section {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.section__action {
    display: flex;
    justify-content: center;
}

section h3 {
    font-size: 2.5rem;
    text-align: left;
    color: #000;
}
section h3 > i, header > h1 > i {
    color: var(--primary);
}

section p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: #1a1a1a;
}

.section__content {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.section__img, .section__text {
    flex: 1;
}

.section__img img {
    height: 500px;
    width: 100%;
    border-radius: 1rem;
}

/* ############## FOOTER STYLING ############# */

footer {
    margin-top: 5rem;
    text-align: center;
    font-style: italic;
}

/* ############## MEDIA QUERIES ############# */
@media (max-width: 1535px) {
    .section__content {
        flex-direction: column;
        gap: 3rem;
    }
}